on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

env:
  NIX_CONFIG: experimental-features = nix-command flakes pipe-operators

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout
      #   uses: actions/checkout@v2

      - name: Checkout
        run: |
          git config --global --add safe.dir $(pwd)
          git clone --depth 1 ${{ github.server_url }}/${{ github.repository }} .
          git checkout ${{ github.ref }}

      - name: Build
        run: |
          docker build -t builder .
          docker run --rm \
            -e NIX_CONFIG='experimental-features = nix-command flakes pipe-operators' \
            -v ${{ github.workspace }}:/app \
            -w /app \
            builder
          docker cp builder:/app/public ./public

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
